.containerAddCustomer{
    position: relative;
    width: 100%;
}
.divDateBirth {
    display: flex;
    flex-direction: column;
}


.divUpDateAcus {
    width: 235px;
    background-color: #eaeaea;

    border: 1px solid #8f8f9d;
    text-align: center;
}


.divDownDateAcus {
    width: 235px;
    /* background-color:#fff;
    border: 1px solid #8f8f9d; */
    text-align: center;
}


.inputTextDateACus {
    width: 40px;
    border: none;
    background-color: #fff;
    text-align: center;
}


.inputDayTDACus {}


.inputMonthTDACus {
    width: 67px;
}


.inputYearTDACus {
    width: 45px;
    margin-left: 13px;
}

.textareaAddressACu {
    width: 235px;
    height: 200px;
}


@media screen and (min-width:1200px) {


    .divUpDateAcus,
    .divDownDateAcus,
    .textareaAddressACu {
        width: 250px;

    }

    .textareaAddressACu {
        height: 228px;
    }


}