.formBeton {
    margin: 15px 5px;
    padding: 15px 8px;
    background-color: #f6f6f9;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid #e8e8f0;
    border-radius: 6px;

}

.titleFormFB{
    width: 100%;
    text-align: center;
    color: #093e82;
}

.sectionFB {
    width: 100%;
    margin: 3px 0;
    padding: 30px 6px 0;
    display: flex;
    background-color: #ececec;
    flex-wrap: wrap;
}

.divInputFB {
    width: 50%;
    margin-bottom: 30px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

/** این کلاس برای زمانی است که یک فرم یک ستونه میخواهیم **/
.divInputFB2 {
    width: 100%;
}

.divInputFB label {
    width: 100px;
    display: inline-block;
    font-size: 0.95rem;
}

.inputTextFB,
.inputTextUnitFB {
    width: 235px;
    height: 30px;
    padding: 0 7px;
    font-size: 0.91rem;
}

.inputTextUnitFB{
    width: 170px;
    border: 1px solid #8f8f9d;
    border-left: none;
}

/* جهت نمایش واحد یک فیلد */
.unitFB{
    width: 65px;
    height: 30px;
    font-size: 0.72rem;
    background-color: #fff;
    display: inline-block;
    border: 1px solid #8f8f9d;
    border-right: none;
    border-radius: 2px 0 0 2px;
    text-align: center;
    line-height: 28px;
    color: #747474;
}

.divRightFB,
.divLeftFB {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.divRightFB .divInputFB,
.divLeftFB .divInputFB {
    width: 100%;
    margin-bottom: 20px;
}

.selectFB {
    width: 235px;
    padding-right: 10px;
}

.divBtnsFB {

    justify-content: center;
}

.btnSaveFB {
    width: 95px;
    margin-left: 35px;
}



/**         ***** plak *****       **/
.divExamplePlak {
    width: 235px;
    height: 37px;
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #000;
    border-radius: 4px;

}


.divIranPlak {
    width: 28px;
    display: flex;
    flex-direction: column;
    background-color: #0404c5;
    gap: 7px;
}

.iranPlakDivImg {
    width: 100%;
    padding: 0;
    height: 10px;
    text-align: center;
}


.iranPlakDivImg img {
    width: 95%;
    margin-top: -7px;

}

.iranPlakDivSpans {
    height: min-content;
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    color: #fff;
    direction: ltr;


}

.iranPlakDivSpans span {
    display: inline-block;
    height: 8px;

}


.divNamberPlak {
    display: flex;
    flex-direction: row-reverse;
}

.text2numberPlaK,
.selectChPlak,
.text3numberPlaK,
.textSerialPlaK {
    text-align: center;
    border: none;
}

.text2numberPlaK {
    width: 42px;
}

.selectChPlak {
    width: 61px;
    border-radius: 0;
}

.text3numberPlaK {
    width: 58px;
}

.divSerialPlak {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    text-align: center;
    border-left: 1px solid;
    border-radius: 0 4px 4px 0;
}

.divSerialPlak span {
    height: 8px;
    font-size: 0.5rem;
    z-index: 10;
}

.textSerialPlaK {
    width: 42px;
    height: 27px;
    border-radius: 0 4px 4px 0;
}

/* عدم نمایش یک عنصر در فرم */
.hideFB{
    display: none;
}

/* نمایش یک عنصر با مقدار فلکس */
.showFlexFB{
    display: flex;
}

/* نمایش یک عنصر با مقدار بلاک */
.showBlockFB{
    display: block;
}

/* نمایش یک عنصر با مقدار اینلاین بلاک */
.showInlineBlockFB{
    display: inline-block;
}

/* نمایش یک عنصر با مقدار اینلاین */
.showInlineFB{
    display: inline;
}

.showTotalUnitsFB{
    width: 100%;
    margin-bottom: 10px;
    font-size: 0.9rem;
    text-align: center;
}

.span1STUFB{}

.span2STUFB{
    margin: 0 6px 0 8px;
    color: green;
}

.span3STUFB{
    font-size: 0.8rem;
}

.ltrFB{
    direction: ltr;
}
@media screen and (min-width:1200px) {

    .formBeton {
        margin: 35px 5px;
        padding: 15px 32px;

    }

    .divInputFB {
        padding: 0 25px;
    }

    .divInputFB label {
        width: 112px;
        font-size: 1.094rem;

    }

    .inputTextFB,
    .selectFB,
    .divExamplePlak {
        width: 250px;
    }

    .inputTextUnitFB{
        width: 185px;
    }

    .text2numberPlaK,
    .textSerialPlaK {
        width: 47px;

    }

    .selectChPlak {
        width: 66px;
    }

    .text3numberPlaK {
        width: 58px;
    }

}