.formBeton{
    margin: 15px 5px;
    padding:15px 8px;
    background-color: #f6f6f9;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid #e8e8f0;
    border-radius: 6px;

}

.sectionFB {
    width: 100%;
    margin: 3px 0;
    padding: 20px 6px;
    display: flex;
    background-color: #ececec;
    flex-wrap: wrap;
}

.divInputFB {
    width: 50%;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.divInputFB label {
    width: 100px;
    display: inline-block;
    font-size: 0.95rem;
    
}

.inputTextFB {
    width: 235px;
    height: 30px;
    padding: 0 7px;
    font-size: 0.91rem;
}

.divRightFB,
.divLeftFB {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.divRightFB .divInputFB,
.divLeftFB .divInputFB {
    width: 100%;
    margin-bottom: 20px;
}





.selectFB{
    width: 235px;
}

.divBtnsFB{
    
    justify-content: center;
}

.btnSaveFB{
    width: 95px;
    margin-left: 35px;

}



/**         ***** plak *****       **/
.divExamplePlak{
    width: 235px;
    height: 37px;
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #000;
    border-radius: 2px;

}


.divIranPlak{
    width: 28px;
    display: flex;
    flex-direction: column;
    background-color: #0404c5;
    /* align-items: stretch; */
    gap: 7px;
}

.iranPlakDivImg{
    width: 100%;
    padding: 0;
    height: 10px;
    text-align: center;
}


.iranPlakDivImg img{
    width: 95%;
    margin-top: -7px;

}

.iranPlakDivSpans{
    height: min-content;
    display: flex;
    flex-direction: column;
    font-size: 0.5rem; 
    color: #fff;
    direction: ltr;
    
    
}

.iranPlakDivSpans span{
    display: inline-block;
    height: 8px;
    
}


.divNamberPlak{
display: flex;
flex-direction: row-reverse;
}

.text2numberPlaK{
width: 48px;
text-align: center;
border: none;

}

.selectChPlak{
width: 67px;
text-align: center;
border-radius: 0;
border: none;
}

.text3numberPlaK{
width: 58px;
text-align: center;
border: none;



}



.divSerialPlak{
display: flex;
flex-direction: column;
background-color: #fff;
text-align: center;
border-left: 1px solid ;

}

.divSerialPlak span{
   height: 8px;
    font-size: 0.5rem;
    z-index: 10;
}

.textSerialPlaK{
    width: 48px;
    height: 27px;
    border: none;
text-align: center;

}


@media screen and (min-width:1200px) {
    
    .formBeton{
        margin: 35px 5px;
        padding:15px 32px;
    
    }

    .divInputFB {
        padding: 0 25px;
    }

    .divInputFB label {
        width: 112px;
        font-size: 1.094rem;
        
    }

    .inputTextFB,
    .selectFB,
    .divExamplePlak {
        width: 250px;
    }

   
}