.formBeton {
    max-width: 1100px;
    margin: 15px 5px;
    padding: 15px 8px;
    background-color: #f6f6f9;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid #e8e8f0;
    border-radius: 6px;

}

.pointerFB {
    cursor: pointer;
}

.mmm {
    background-color: #6d6b6b;

    position: 'fixed';
    width: '100%';
    height: '100vh';
    z-index: 100;
    opacity: 0.5;
    display: 'flex';
    justify-content: center;
    align-items: center;


}

.borderRedFB {
    /* border-color: #ff0000 !important; */
    border: 1px solid #ff0000 !important;
}

.titleFormFB {
    width: 100%;
    text-align: center;
    color: #093e82;
}

.sectionFB {
    width: 100%;
    margin: 3px 0;
    padding: 12px 6px 0;
    display: flex;
    background-color: #ececec;
    flex-wrap: wrap;
    position: relative;
}

.containerInputFB,
.containerInput100FB,
.divAddDelProductFB {
    width: 50%;
    padding: 0 calc((50% - 360px) / 2);
}

.containerInput100FB,
.divAddDelProductFB {
    width: 100%;
}

.divAddDelProductFB{
    margin-bottom: 10px;
}

.divAddDelProductFB{
    display: flex;
   justify-content: space-between;
}

.divAddProductFB{}
.divDelProductFB{}

.btnAddProductFB{
    padding: 1px 5px;
    background-color: #cae8ca;
    border: 1px solid #7fa47f;
    border-radius: 4px;
    color: #005e00;
}

.btnDelProductFB{
    padding: 1px 5px;
    background-color: #e8caca;
    border: 1px solid #a47f7f;
    border-radius: 4px;
    color: #5e0000;
}


.divInputFB,
.divInput100FB {
    display: flex;
    align-items: center;
    position: relative;
}

/* ستاره الزام آور */
.starFB {
    color: red;
    font-size: 0.48rem;
    position: absolute;
    top: -3.8px;
    left: 12px;
}

/** این کلاس برای زمانی است که یک فرم یک ستونه میخواهیم **/
.divInputFB2 {
    width: 100%;
}

.divInputCheckboxFB {
    display: flex;
    justify-content: space-around;
}

.divInputFB label,
.divInput100FB label {
    /* width: 135px; */
    display: inline-block;
    font-size: 0.95rem;
    flex-grow: 1;
}

.inputTextFB,
.inputTextUnitFB,
.inputShabaFB,
.textareaFB,
.textarea100FB,
.divRadioFB,
.mainCubicMetersACSL_FB,
.mainTotalPriceACSL_FB {
    width: 200px;
    height: 30px;
    padding: 0 7px;
    font-size: 0.91rem;
    border: 1px solid #8f8f9d;
}

.textareaFB {
    height: 70px;
}

.textarea100FB {
    /* width: 590px; */
    width: 78.90%;
    height: 40px;
    padding: 7px;
}

.descriptionFB{
    height: 90px;
}

.inputCheckboxFB {
    width: 30px;
}

.inputTextUnitFB,
.inputShabaFB {
    width: 140px;
    border: 1px solid #8f8f9d;
    border-left: none;
}

.inputShabaFB {
    width: 185px;
}

.divRadioFB {
    border: none;
    display: flex;
    justify-content: space-between;
}

/* جهت نمایش خطاهای فرم */
.errorContainerFB {
    width: 200px;
    min-height: 17px;
    margin-right: auto;
    color: red;
    font-size: .7rem;
}

/* جهت نمایش واحد یک فیلد */
.unitFB,
.unitShabaFB {
    width: 60px;
    height: 30px;
    font-size: 0.72rem;
    background-color: #fff;
    display: inline-block;
    border: 1px solid #8f8f9d;
    border-right: none;
    border-radius: 2px 0 0 2px;
    text-align: center;
    line-height: 28px;
    color: #747474;
}

.unitShabaFB {
    width: 15px;
    color: #000;
    font-size: 1rem;
}

.divRightFB,
.divLeftFB {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.divRightFB .containerInputFB,
.divLeftFB .containerInputFB {
    margin-bottom: 10px;
    width: 100%;
    padding: 0 calc((100% - 360px) / 2);
}

.containerCustomerTypeFB {
    width: 200px;
    height: 30px;
    padding: 0 10px 0 15px;
    font-size: 1rem;
    border: 1px solid #8f8f9d;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.lableCustomerTypeFB {
    width: max-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* نمایش سه نقطه در انتها */
}

.divItemCustomerTypeFB {

    padding: 5px 12px;
    position: absolute;
    top: 33px;
    left: 0;
    background-color: #e1e1ec;
    border: 2px solid #474747;
    z-index: 2;
    display: flex;
}

.rigthCustomerTypeFB {
    width: 220px;
    height: 100%;
    min-height: 350px;
    margin-left: 5px;
    padding: 6px 8px;
    border: 1px solid #6d6b6b;
    background-color: #fff;
}

.RCTYitemsFB {
    /* height: 100%; */
    max-height: 300px;
    min-height: 300px;
    padding: 0 0 5px 3px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.btnRCTYitemsFB {
    width: 90%;
    height: 40px;
    margin: 3px auto 0;
    border: 1px solid;
    border-radius: 4px;
    background-color: #4f4fb6;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer;  */
}

.btnRCTYitemsFB:hover {
    background-color: #6363c6;
    color: #eae9e9;
}

.errorRCTYitemFB {
    padding: 1px 3px;
    background-color: #f5acac;
    color: #ff0000;
}

.btnRCTYitemsFB:active {
    background-color: #333367;
}

.customerTypeSelectedFB {
    width: 100%;
    min-height: 35px;
    padding: 0 6px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-bottom: 5px;
    background-color: #e1e1e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delItemCustomerTypeFB {
    color: #ff0000;
    cursor: pointer;
}

.delItemCustomerTypeFB:active {
    color: #c3ff00;
}

.leftCustomerTypeFB {
    width: 200px;
    max-height: 350px;
    overflow-x: hidden;
    /* حذف اسکرول افقی */
    overflow-y: auto;

}

.leftCustomerTypeFB div:nth-child(even) {
    background-color: #fefdfd;
}

.leftCustomerTypeFB div:nth-child(odd) {
    background-color: #f1f1f1;
}

.itemCustomerTypeFB {
    height: 35px;
    padding: 0 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.itemCustomerTypeFB:active {
    color: #008000;
}

.checkedItemCustomerTypeFB {
    width: 15px;
    height: 15px;
    border: 1px solid #8f8f9d;
    /* background-color: green !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;

}

.IcheckedItemCustomerTypeFB {
    color: #008000;
}

.nameItemcustomerTypeFB {
    padding-right: 10px;
    /* background-color: inherit; */
}

.selectFB option {
    font-size: 1.22rem;
    /* font-family: IRANSansRegular !important; */
    font-family: 'Times New Roman', Times, serif !important;
}

.delMoreBank {
    width: 100%;
    margin: 0 0 4px 30px;
    padding-bottom: 2px;
    /* border-bottom: 1px solid #be0b0b; */

    /* position: absolute; */

    flex-grow: 1;
    direction: ltr;
    display: flex;
    justify-content: space-between;

}

.delMoreBank span {
    cursor: pointer;
    border-bottom: 1px solid #be0b0b;
    color: #ff0000;

}

.moreBank {
    margin: 0 30px 6px 0;
    padding: 1px 3px;
    font-size: .8rem;
    color: #0404c5;
    cursor: pointer;
    border-bottom: 1px solid #0505a1;
}

.divBtnsFB {
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.btnSaveFB {
    width: 95px;
    margin: 0;
}

.btnDelFB {
    margin-right: 35px;
}


/**         ***** Numberplate *****       **/
.divExampleNumberplate {
    width: 213px;
    height: 37px;
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #000;
    border-radius: 4px;
}

.divIranNumberplate {
    width: 25px;
    display: flex;
    flex-direction: column;
    background-color: #0404c5;
    gap: 7px;
}

.iranNumberplateDivImg {
    width: 100%;
    padding: 0;
    height: 10px;
    text-align: center;
}


.iranNumberplateDivImg img {
    width: 95%;
    margin-top: -7px;
}

.iranNumberplateDivSpans {
    height: min-content;
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    color: #fff;
    direction: ltr;
}

.iranNumberplateDivSpans span {
    display: inline-block;
    height: 8px;
}

.divNumberplate {
    display: flex;
    flex-direction: row-reverse;
}

.text2Numberplate,
.selectChNumberplate,
.text3Numberplate,
.textSerialNumberplate {
    text-align: center;
    border: none;
}

.text2Numberplate {
    width: 38px;
}

.selectChNumberplate {
    width: 58px;
    border-radius: 0;
}

.text3Numberplate {
    width: 50px;
}

.divSerialNumberplate {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    text-align: center;
    border-left: 1px solid;
    border-radius: 0 4px 4px 0;
}

.divSerialNumberplate span {
    height: 8px;
    font-size: 0.5rem;
    z-index: 10;
}

.textSerialNumberplate {
    width: 38px;
    height: 27px;
    border-radius: 0 4px 4px 0;
}

/* عدم نمایش یک عنصر در فرم */
.hideFB {
    display: none;
}

/* نمایش یک عنصر با مقدار فلکس */
.showFlexFB {
    display: flex;
}

/* نمایش یک عنصر با مقدار بلاک */
.showBlockFB {
    display: block;
}

/* نمایش یک عنصر با مقدار اینلاین بلاک */
.showInlineBlockFB {
    display: inline-block;
}

/* نمایش یک عنصر با مقدار اینلاین */
.showInlineFB {
    display: inline;
}

.showTotalUnitsFB {
    width: 100%;
    margin-bottom: 10px;
    font-size: 0.9rem;
    text-align: center;
}

.span2STUFB {
    margin: 0 6px 0 8px;
    color: green;
}

.span3STUFB {
    font-size: 0.8rem;
}

.ltrFB {
    direction: ltr;
}

.centerFB {
    text-align: center;
}
.rtlPlaceholderFB::placeholder {
    direction: rtl;
    text-align: right;
}

.radioTrue_FB {
    color: #006700;
    border-color: #006700;
}

/*  مربوط به کامپوننت ایجاد فیش حقوقی پرسنل، دکمه وضعیت بیمه   */


.hasRadioInsuAPS_FB,
.trueLabel_FB {
    padding-right: 10px;
    color: #006700;
}

.notHasRadioInsuAPS_FB,
.falseLabel_FB {
    padding-right: 10px;
    color: #c30101;
}

/*         مربوط به صفحه ایجاد فاکتور فروش بتن    */
.containerCSI_FB {
    width: 100%;
    padding: 3px 2px;
    border: 1px solid #808080;
    border-radius: 2px;
}

.inactiveLabelCSI_FB {
    color: #747474;

}

.textareaAddressCSI_FB {
    padding-right: 8px;
}

/* 
       جهت نمایش آپشن‌های مختلف در کامپوننت سلکت، لازم به ذکر است 
          که این کلاس‌ها در کامپوننتی که از کامپوننت سلکت استفاده می‌کند
          استفاده می شود
*/
.concreteAptionSelectFB,
.mixerAptionSelectFB,
.factoryAptionSelectFB,
.sandAptionSelectFB,
.divRemittanceSelectFB,
.divSiloSeletcFB {
    padding: 3px 8px 2px 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.mixerAptionSelectFB,
.factoryAptionSelectFB,
.sandAptionSelectFB,
.notOptionsFB,
.divRemittanceSelectFB,
.divSiloSeletcFB {
    width: 100%;
    padding: 7px 2px;
}

.factoryAptionSelectFB,
.sandAptionSelectFB {
    cursor: pointer;
    padding-right: 8px;
}

.notOptionsFB {
    color: #ff0000;
}

.mixerAptionSelectFB .numberplateDiv {
    height: 24px;
    border-color: #0404c5;
}

.mixerAptionSelectFB:hover .numberplateDiv {
    background-color: #53a5b1;
    height: 24px;
}

.mixerNamberpalteSelectFB {
    width: 110px;
}

.mixerOwnerSelectFB,
.buyerSelectFB {
    width: calc(100% - 110px);
    padding-right: 4px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
}

.buyerSelectFB {
    width: calc(100% - 78px);
    font-size: 0.8rem;
}

.remittanceNumberFB {
    text-align: left;
    direction: ltr;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
}

.siloSeletctFB {
    padding-right: 4px;
    font-size: 0.9rem;
}

.mainTicketNumberACSI_FB {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticketNumberACSI_FB {
    width: 130px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #474747;
    /* border-bottom-style: double; */
    border-bottom-width: 2px;
    border-bottom-color: #155171;
    border-radius: 25%;
    color: #008000;
    font-size: 1.3rem;
}

.divDelInvoiceACSL_FB {
    padding-left: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.btnDelInvoiceACSL_FB {
    padding: 2px 8px;
    background-color: #f0c6c6 !important;
    border: 1px solid #f54242 !important;
    color: #a20101;
    border-radius: 3px;
}

.btnDelInvoiceACSL_FB:hover {
    background-color: #f09c9c !important;
}

.defaultConcreteNameACSI_FB {
    padding: 0 6px 0 15px;
    display: flex;
    justify-content: space-between;
}

.mainCubicMetersACSL_FB,
.mainTotalPriceACSL_FB {
    padding: 0;
    display: flex;
    background-color: #f3f1f1;

    align-items: center;
}

.cubicMetersACSL_FB,
.totalPriceACSL_FB {
    text-align: left;
    flex-grow: 1;
}

.cubicMetersACSL_FB {
    padding-left: 5px;
    font-size: 1.1rem;
    color: #008000;
}

.spanCubicMetersACSL_FB,
.spanTotalPriceACSL_FB {
    width: 60px;
    font-size: 0.72rem;
    color: #747474;
    text-align: center;
}




@media screen and (min-width:1200px) {

    .formBeton {
        margin: 35px auto;
        padding: 15px 10px;
    }

    .starFB {
        font-size: 0.50rem;
        top: -3.4px;
        left: 15px;
    }

    .containerInputFB,
    .containerInput100FB,
    .divAddDelProductFB {
        width: 50%;
        /* padding: 0 calc((50% - 362px) / 2); */
        padding: 0 calc((50% - 400px) / 2);
    }

    .containerInput100FB,
    .divAddDelProductFB{
        width: 100% ;
    }

    .divInputFB label,
    .divInput100FB label {
        /* width: 125px; */
        font-size: 1.062rem;
    }

    .divInput100FB label{
        width: 170px ;
        flex-grow: 0;

    }

    .inputTextFB,
    .textareaFB,
    .selectFB,
    .divExampleNumberplate,
    .divRadioFB,
    .mainTicketNumberACSI_FB,
    .mainCubicMetersACSL_FB,
    .mainTotalPriceACSL_FB {
        width: 230px;
    }

    .inputShabaFB {
        width: 215px;
        
    }

    .textarea100FB{
        flex-grow: 1 ;
        
    }

    .divRightFB .containerInputFB,
    .divLeftFB .containerInputFB {
        width: 100%;
        margin-bottom: 18px;
        /* padding: 0 calc((100% - 362px) / 2); */
        padding: 0 calc((100% - 380px) / 2);
    }

    .inputTextUnitFB {
        width: 170px;
    }

    .text2Numberplate,
    .textSerialNumberplate {
        width: 40px;
    }

    .selectChNumberplate {
        width: 66px;
    }

    .text3Numberplate {
        width: 58px;
    }

    .errorContainerFB {
        width: 230px;
        font-size: .72rem;
    }

    .ticketNumberACSI_FB {
        font-size: 1.5rem;
    }

    .buyerSelectFB,
    .remittanceNumberFB {
        font-size: 0.9rem;
    }

}