.headPageGe {
    width: 100%;
    margin-top: 6px;
    margin-bottom: -6px;
    padding: 6px 22px;
    background-color: #f6f6f9;
}

.btnAddGe,
.btnGetGe {
    padding: 2px 6px;
    border: 1px solid #5382bd !important;
    border-radius: 3px;
    background-color: #b8c9df !important;
    color: #1a2a3e;
}

.btnAddGe {
    margin-left: 9px;
}

.btnGetGe {}

.disabledBtnGe {
    background-color: #e1e6ec !important;
    color: #c3c6ca;
    border-color: #d7d9dd !important;
}

.enabledBtnGe:hover{
background-color: #7191b9 !important;
}

.containerMainAS_Ge{
   width: 100%;
   display: flex;
}

.flexColumnGe{
    flex-direction: column;
}

.flexColumnReverseGe{
    flex-direction: column-reverse;
}

.flexRowGe{
    flex-direction: row;
}

.flexRowReverseGe{
    flex-direction: row-reverse;
}

.continerAddGe,
.containerShowGe{

}


.containerShowGe{
    margin: 15px 5px;
    padding: 15px 8px;
    background-color: #f6f6f9;
    border: 5px solid #e8e8f0;
    border-radius: 6px;
}

.titleShowGe{
    width: 100%;
    text-align: center;
    padding: 3px 0;
    margin-bottom: 15px;
}

.headRowListShowGe,
.rowListShowGe{
    width: 100%;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
}

.headRowListShowGe{
    border-radius: 4px 4px 0 0;
    background-color: #b8c9df !important;
    color: #525252;
}

.headRowNumShowGe{

}

.headNameShowGE{

}

.headTypeShowGe{

}

.headEditShowGe{
    display: inline-block;
    text-align: center;
    background-color: red;
}


.headDelShowGe{
    display: inline-block;
    text-align: center;
    background-color: green;
}


.rowListShowGe:nth-child(even) {
    background-color: #ececec;
}

.rowListShowGe:nth-child(odd) {
    background-color: #e2e2e2;
}

.rowListShowGe:hover{

    background-color:#98c4ca ;
    }

.rowNumShowGe{
    width: 5%;
    text-align: center;
}

.nameShowGE{

    width: 30%;
    padding: 0 30px;

}

.typeShowrGe{
    width: 25%;
    padding: 0 5px;

}

.btnEditGe,
.btnDelGe{
   
    height: fit-content;
    text-align: center;
    padding: 0 8px;
}

.iEditGe{
    color: #4783b0;
    font-size: 1.7rem;
}

.btnDelGe{
    margin-right: 20px;
}

.iDelGe{
    color: #d74939;
    font-size: 1.3rem;}


