.headPageGe {
    width: 100%;
    margin-top: 6px;
    margin-bottom: -6px;
    padding: 6px 22px;
    background-color: #f6f6f9;
}

.btnAddGe,
.btnGetGe {
    padding: 2px 6px;
    border: 1px solid #5382bd !important;
    border-radius: 3px;
    background-color: #b8c9df !important;
    color: #1a2a3e;
}

.btnAddGe {
    margin-left: 9px;
}

.disabledBtnGe {
    background-color: #e1e6ec !important;
    color: #c3c6ca;
    border-color: #d7d9dd !important;
}

.enabledBtnGe:hover {
    background-color: #7191b9 !important;
}

.containerMainAS_Ge {
    width: 100%;
    display: flex;
}

.columnGe {
    flex-direction: column;
}

.columnReverseGe {
    flex-direction: column-reverse;
}

.flexRowGe {
    flex-direction: row;
}

.flexRowReverseGe {
    flex-direction: row-reverse;
}

.containerShowGe {
    margin: 15px 5px;
    padding: 15px 8px;
    background-color: #f6f6f9;
    border: 5px solid #e8e8f0;
    border-radius: 6px;
}

.titleShowGe {
    width: 100%;
    text-align: center;
    padding: 3px 0;
    margin-bottom: 15px;
}

.headRowListShowGe,
.rowListShowGe,
.rowListShowACSI_Ge {
    width: 100%;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
}

.headRowListShowGe {
    padding: 10px 8px;
    border-radius: 4px 4px 0 0;
    background-color: #b8c9df !important;
    color: #525252;
}

.headEditShowGe,
.headDelShowGe,
.divEditGe,
.divDelGe {
    width: 65px;
    text-align: center;
}

.headDelShowGe,
.divDelGe {
    margin-right: 8px;
}

.headEditShowGe {
    display: inline-block;
    text-align: center;
}


.headDelShowGe {
    display: inline-block;
    text-align: center;
}

.rowListShowGe:nth-child(even),
.rowListShowACSI_Ge:nth-child(even) {
    background-color: #ececec;
}

.rowListShowGe:nth-child(odd),
.rowListShowACSI_Ge:nth-child(odd) {
    background-color: #e2e2e2;
}

.rowListShowGe:hover,
.rowListShowACSI_Ge:hover {
    background-color: #98c4ca;
}

.rowNumShowGe,
.rowIdShowGe,
.rowIdTruckGe,
.rowIdDriverGe {
    width: 40px;
    text-align: center;
}

.rowIdShowGe,
.rowIdTruckGe,
.rowIdDriverGe{
    width: 100px;
   margin-right: 18px;
}


/*
**
 ********* استایل مربوط به مشتری ********** 
**
*/

.nameShowGE,
.lastNameShowGE {
    width: 25%;
    padding: 0 30px;
}



.typeShowGe {
    width: 25%;
    padding: 0 5px;
    font-size: 0.8rem;
    position: relative;
}

.typeTitleShowGe {
    height: 30px;
    padding: 0 3px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ecebeb;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
}

.typeTitleSpanShowGe {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TypeBodyShowGe {
    width: calc(100% - 10px);

    position: absolute;
    top: 32px;
    background-color: #fff;
    z-index: 20;
    border-radius: 0 0 2px 2px;
    box-shadow: 0px 5px 9px 2px #bebebe;
}

.TypeBodyItemShowGe {
    /* margin-top: 2px; */
    padding: 5px;
}

.headTypeShowGe {
    font-size: 1rem;
}

/*
**
 ********* استایل مربوط به کامیون ********** 
**
*/

.TrackTypeShowGe {
    width: 18%;
    margin: 0 13px 0 6px;
}

.licensePlateShowGe {
    width: 22%;
    padding: 0 15px;
    text-align: center;

}

.numberplateDiv {
    display: flex;
    direction: ltr;
    background: #f1f2f4;
    padding: 0 0 0 8px;
    justify-content: space-around;
    border: 1px solid #7f8084;
    border-radius: 6px;
}

.numberplateDivS4 {
    padding-left: 4px;
    border-left: 1px solid #7f8084;

}

.truckOwnerShowGe {
    width: 30%;
}

.truckOwnerShowGeDiv {
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
}

.truckOwnerShowGeDivFather {
    font-size: 12px;
}



/*
**
 ********* استایل مربوط به کالا و خدمات ********** 
**
*/
.GASNameShowGe {
    width: 23%;
    margin: 0 8% 0 13px;
}

.GASTypeShowGe {
    width: 23%;
}

/*
**
 ********* استایل مربوط به فیش حقوقی پرسنل ********** 
**
*/
.APSNameShowGe {
    width: 22%;
    margin: 0 5% 0 0;
}

.APSfatherNameHeadShowGe,
.APSfatherNameShowGe {
    width: 15%;
}

.APSfatherNameShowGe {
    color: #5a5b5b;
    ;
    font-size: 0.8rem;
}

/* ******************************************************************* */

.btnEditGe,
.btnDelGe {
    height: fit-content;
    text-align: center;
    /* padding: 0 8px; */
}

.iEditGe {
    color: #4783b0;
    font-size: 1.7rem;
}

/* .btnDelGe{
    margin-right: 20px;
} */

.iDelGe {
    color: #d74939;
    font-size: 1.3rem;
}


/* عدم نمایش یک عنصر در فرم */
.hideGe {
    display: none !important;
}


/**********************       مربوط به فایل فاکتور فروش بتن  *************/

.rowListShowACSI_Ge {
    padding: 5px 1px;
    justify-content: start;
}

.rowNumShowACSI_Ge {
    width: 7%;
    font-size: 0.9rem;
    text-align: center;
    color: #58595a;
}

.ticketNumberACSI_Ge {
    width: 7%;
    text-align: center;
    color: #08366d;

}

.remittanceNumber_Ge{
    width: 13%;
    text-align: center;
    color: #086d6b; 
}

.textAlignCenter,
.textAlignCenter_Ge {
    text-align: center;
}

.textAlignLeft_Ge {
    text-align: left;
}

.customerHeadACSI_Ge,
.customerACSI_Ge {
    width: 20%;
    padding-right: 25px;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customerACSI_Ge {
    padding-right: 10px;

}
.buyerName_Ge{
    width: 21%;
    display: flex;
    justify-content: space-between;
    color: #08356c;
}
.bueryFather_Ge{
    font-size: 0.8rem;
}


.price_Ge{
    width: 10%;
    font-size: 0.8rem;
}

.factory_Ge{
    width: 6%;
    font-size: 0.8rem;
}

.concreteACSI_Ge {
    width: 5%;
    text-align: center;
    font-size: 0.85rem;
}


.truckACSI_Ge {
    width: 15%;
    text-align: center;
    font-size: 0.8rem;
}

.driverHeadACSI_Ge,
.driverACSI_Ge {
    width: 18%;
    padding-right: 25px;
    font-size: 0.73rem;
}

.driverACSI_Ge {
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.dateACSI_Ge,
.timeACSI_Ge {
    width: 10%;
    text-align: center;
    font-size: 0.8rem;
}

.isCompleted_Ge{
    width: 7%;
    text-align: center;
    font-size: 0.8rem;
}

.dumpTruckOwner_Ge{
    width: 19%;
}

.true_Ge{
    color: #006e00;
}

.false_Ge{
    color: #ca0606;
}

.editHeadShowACSI_Ge,
.delHeadShowACSI_Ge {
    width: 5%;
    font-size: 0.7rem;
    text-align: center;

}

.editHeadShowACSI_Ge {
    margin-left: 5px;
}

.divEditACSI_Ge,
.divDelACSI_Ge {
    width: 5%;
    text-align: center;
}

.divEditACSI_Ge {
    margin-left: 5px;
}

@media screen and (min-width:1200px) {
    .rowNumShowACSI_Ge {
        font-size: 1rem;
    }

    .customerHeadACSI_Ge,
    .customerACSI_Ge {
        font-size: 1rem;
    }

    .customerACSI_Ge {
        padding-right: 10px;
    }

    .concreteACSI_Ge {
        width: 8%;
        font-size: 1rem;
    }

    .truckACSI_Ge {
        width: 11%;
        font-size: 1rem;
    }

    .driverHeadACSI_Ge,
    .driverACSI_Ge {
        padding-right: 30px;
        font-size: 1rem;
    }

    .driverACSI_Ge {
        padding-right: 20px;
    }

    .price_Ge{
        font-size: 0.95rem;
    }

    .dateACSI_Ge,
    .timeACSI_Ge {
        width: 8%;
        font-size: 1rem;
    }

    .editHeadShowACSI_Ge,
    .delHeadShowACSI_Ge {
        width: 5%;
        font-size: 1rem;
    }

    .editHeadShowACSI_Ge {
        margin-left: 5px;
    }

    .divEditACSI_Ge,
    .divDelACSI_Ge {
        width: 5%;
        text-align: center;
    }

    .divEditACSI_Ge {
        margin-left: 5px;
    }

}