.containerHome {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.divLeftSide {
    flex-grow: 1;
    width: calc(100% - 210px);
    /* position: relative; */
}

.divRightSide {
    width: max-content;
    flex-grow: 0;
}

.divTitleHome {
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.titleBeton {
    display: flex;
    align-items: center;
    padding-right: 35px;
    font-size: 1.9rem;
    font-weight: 400;
}

.brandHome {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #68d968;
}

.brandHome i {
    font-size: 3rem;
}

.brandHome h2 {
    margin-top: -8px;
    font-size: 1.2rem;
}

.mainHome,
.mainCuC {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.categoryLinksHome {
    width: 100%;
    max-width: 100%;
    padding: 35px 15px;
    display: flex;
    row-gap: 25px;
    column-gap: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.borderDivHome {
    width: 98%;
    height: 1px;
    margin: 10px auto;
    border: 2px solid #2c2ca8;
    border-radius: 6px;

}


.linksHome {
    width: 130px;
    height: 145px;
    display: flex;
    flex-direction: column;
    border: 1px solid #90a7a8;
    border-radius: 6px;
    background-color: #f0f8ff;
    align-items: center;
}

.linksHome:hover {
    border: 1px solid #90a7a8;
    background-color: #bbc7d1;
}

.linksHome span {
    width: 100%;
    height: 40%;
    font-size: 1rem;
    text-align: center;
    color: #063055;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.divIcofontLinksHome {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divIcofontLinksHome .iLinksHome {
    font-size: 3.1rem;
    color: #063055;
}

.divIcofontLinksHome .iLinksHome2 {
    font-size: 3.1rem;
    color: #063055;
    margin-right: 30px;
    margin-top: 6px;
    position: relative;
    top: 10px;
}

.divIcofontLinksHome .iLinksHome3 {
    font-size: 2.1rem;
    padding: 6px;
    background-color: #7fe2ec;
    border-radius: 50%;
    margin-top: -25px;
    margin-right: -15px;
}

.divIcofontLinksHome .Iplus {
    padding: 1px;
    background-color: #d2d2d2;
    border-radius: 50%;
    margin-top: -10px;
    margin-right: -40px;
    font-size: 0.8rem;
}

.divIcofontLinksHome .factureLinkIHome {
    color: #0663b5;
    font-size: 4rem;
    background-color: #bed9f05c;
}

.divIcofontLinksHome .CurrentCostsIHome,
.divIcofontLinksHome .orange {
    color: #e87019;
}

.divIcofontLinksHome .miscellaneousIncomeIHome,
.divIcofontLinksHome .green {
    color: #257335;
}

.divIcofontLinksHome .iCementStoreHome,
.divIcofontLinksHome .iSandStoreHome,
.divIcofontLinksHome .iWaterSrtorHome {
    font-size: 3.5rem;
    background-color: #d2dddf;
    border-radius: 6px;
    padding: 5px 4px;
}

.divIcofontLinksHome .iCementStoreHome {
    color: #096609;
}

.divIcofontLinksHome .iSandStoreHome {
    color: #041040;
}

.divIcofontLinksHome .iWaterSrtorHome {
    color: #2f2fb7;
}

@media screen and (max-width: 768px) {
    .divRightSide {
        display: none;
    }

    .divTitleHome {
        display: none;
    }
}


@media screen and (min-width:1200px) {
    .linksHome {
        width: 145px;
        height: 158px;
    }

    .linksHome span {
        font-size: 1.08rem;
    }

    .divIcofontLinksHome .iLinksHome {
        font-size: 3.5rem;
    }

    .divIcofontLinksHome .factureLinkIHome {
        font-size: 4.5rem;
    }

    .divLeftSide {
        width: calc(100% - 260px);
    }

    .divIcofontLinksHome .iCementStoreHome,
    .divIcofontLinksHome .iSandStoreHome,
    .divIcofontLinksHome .iWaterSrtorHome {
        font-size: 4rem;
    }
}