.containerHome {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.divLeftSide {
    flex-grow: 1;
}

.divRightSide {
    width: max-content;
    flex-grow: 0;
}

.divTitleHome {
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.titleBeton {
    display: flex;
    align-items: center;
    padding-right: 35px;
    font-size: 1.9rem;
    font-weight: 400;
}

.brandHome {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #68d968;
}

.brandHome i {
    font-size: 3rem;
}

.brandHome h2 {
    margin-top: -8px;
    font-size: 1.2rem;
}

.mainHome {
    width: 100%;
    max-width: 100%;
    padding: 35px 15px;
    display: flex;
    row-gap: 25px;
    column-gap: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.linksHome {
    width: 130px;
    height: 140px;
    display: flex;
    flex-direction: column;
    border: 1px solid #90a7a8;
    border-radius: 6px;
    background-color: #f0f8ff;
    align-items: center;
}

.linksHome:hover {
    border: 1px solid #90a7a8;
    background-color: #bbc7d1;
}

.linksHome span {
    width: 100%;
    height: 30%;
    font-size: 1.1rem;
    text-align: center;
    color: #063055;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.divIcofontLinksHome {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divIcofontLinksHome .iLinksHome {
    font-size: 3.5rem;
    color: #063055;
}

.divIcofontLinksHome .Iplus {
    padding: 1px;
    background-color: #d2d2d2;
    border-radius: 50%;
    margin-top: -10px;
    margin-right: -40px;
    font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
    .divRightSide {
        display: none;
    }

    .divTitleHome {
        display: none;
    }
}
