.mainProForma_PFo {
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
}

.containerProForma_PFo {
    width: 100%;
    border: 2px solid #000;
}

.hade1_PFo {
    width: 100%;
    display: flex;
}

.divStandard_PFo {
    width: 30%;
    padding: 10px 15px 0 0;
}

.logoStandard_PFo {
    width: 52px;
}

.divTitle_PFo {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_PFo {
    font-size: 1.2rem;
    font-weight: 600;
}

.nameBeton_PFo {
    margin-top: 5px;
}

.divDateId_PFo {
    width: 30%;
    text-align: left;
    padding-left: 10px;
}


.divDate_PFo,
.divId_PFo {
    padding: 10px 20px 0 0;
    display: flex;
    justify-content: space-between;
}

.sDate_PFo,
.sId_PFo {
    width: 45px;
    text-align: right;
}

.vDate_PFo,
.vId_PFo {
    flex-grow: 1;
    text-align: center;
}



.hade2_PFo {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}


.divRow_PFo {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
}

.divCol1_PFo {
    width: 66%;
    padding: 0 10px 0 5px;
    display: flex;
}

.divCol2_PFo {
    display: flex;
    width: 34%;
}

.sHade2_PFo {
    width: 83px !important;
    padding-right: 3px;
    display: block;
}

.vHade2_FPo {
    width: calc(100% - 83px);
    background-color: antiquewhite;
}

.divCol2_PFo .vHade2_FPo {
    text-align: left;
    padding-left: 15px;
}