/* .mainProForma_PFo {
    width: 600px;
    margin: 0 auto;
    padding: 3px 5px;
    background-color: #ffffff;
} */

.mainProForma_PFo {
    width: 13cm;
    margin: 0 auto;
    padding: 0 3px;
    background-color: #ffffff;
}

.containerProForma_PFo {
    width: 100%;
    border: 2px solid #000;
}

.hade1_PFo {
    width: 100%;
    display: flex;
}

.divStandard_PFo {
    width: 30%;
    padding: 10px 15px 0 0;
}

.logoStandard_PFo {
    width: 52px;
}

.divTitle_PFo {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_PFo {
    font-size: 1.2rem;
    font-weight: 600;
}

.nameBeton_PFo {
    margin-top: 5px;
}

.divDateId_PFo {
    width: 30%;
    text-align: left;
    padding-left: 10px;
}


.divDate_PFo,
.divId_PFo {
    padding: 10px 20px 0 0;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.sDate_PFo,
.sId_PFo {
    width: 45px;
    text-align: right;
}

.vDate_PFo,
.vId_PFo {
    flex-grow: 1;
    text-align: center;
}



.hade2_PFo {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}


.divRow_PFo {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
}

.divCol1_PFo {
    width: 66%;
    padding: 0 10px 0 5px;
    display: flex;
}

.divCol2_PFo {
    display: flex;
    width: 34%;
}

.sHade2_PFo {
    width: 80px;
    padding-right: 3px;
    display: block;
    font-size: 14px;
}

.divCol2_PFo .sHade2_PFo{
    width: 58px ;
}

.vHade2_FPo {
    width: calc(100% - 80px);
    font-size: 12px;
}



.divCol2_PFo .vHade2_FPo {
    width: calc(100% - 58px);
    text-align: left;
    padding-left: 15px;
}




.body_PFo{
    width: calc(100% - 6px);
    margin: 0 3px;
    display: flex;
    flex-direction: column;
}

.hadeBody_PFo,
.containerBody_PFo{
  width: 100%;
  display: flex;
  border: 1px solid #000;
}

.hDivCount_PFo,
.divCount_PFo{
    width: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #000;
}

.hDivProduct_PFo,
.divProduct_PFo{
    width: 18%;
    padding: 5px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #000;
}

.sHadeB_PFo{
    font-size: 0.8rem;
    font-weight: 600;
}

.s1Product_PFo{

}

.s2Product_PFo{
    font-size: 0.75rem;
}

.hDivType_PFo,
.divType_PFo{
    width: 15%;
    padding: 5px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #000;
}

.s1Type_PFo{

}

.s2Type_PFo{
    font-size: 0.75rem;
}

.hDivAmount_PFo,
.divAmount_PFo{
    width: 8%;
    padding: 5px 3px;
    border-left: 1px solid #000;
    text-align: center;
}

.hDivUnit_PFo,
.divUnit_PFo{
    width: 17%;
    padding: 5px 3px;
    border-left: 1px solid #000;
    text-align: center;
}

.hDivUnitPrice_PFo,

.divUnitPrice_PFo
{
    width: 17%;
    padding: 5px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #000;
}

.s1UnitPrice_PFo{

}

.s2UnitPrice_PFo{
    font-size: 0.75rem;
}

.hDivTotalPrice_PFo,
.divTotalPrice_PFo{
    flex-grow: 1;
   border: none;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.s1TotalPrice_PFo{

}

.s2TotalPrice_PFo{
    font-size: 0.75rem;
}

.containerBody_PFo{
    border: 1px solid #000;
    border-top: none;
}

.divSum_PFo{
    width: 100%;
    display: flex;
    border: 1px solid #000;
    border-top: none;
}

.divSSum_PFo{
    flex-grow: 1;
    padding-right: 30px;
    border-left: 1px solid #000;
}

.sSum_PFo{

}

.divVSum_PFo{
    width: 21%;
    text-align: center;
}



.sTotal_PFo,
.vTotal_PFo{
    font-weight: 600;
}

.description_PFo{
    padding: 5px 10px;
}



.footer_PFo{
    width: 100%;
    margin-top: 5px;
    border-top: 1px solid #000;
}

.divRow1Footer_PFo{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.signSaler_PFo,
.signBuyer_PFo{
    font-weight: 600;
}



.divRow2Footer_PFo{
    width: 100%;
    margin: 10px;
}



.sAddressFooter_PFo{
 font-weight: 600;
}


.divR2R2Footer_PFo{
width: 100%;
display: flex;
}


.sCodepostFooter_PFo{
font-weight: 600;
}

.divTelFooter_PFo{
 margin-right: 50px;
}

.sTelFooter_PFo{
    font-weight: 600;
}



@media print {
    @page { margin:0; /* حذف حاشیه‌ها */ }
    .mainProForma_PFo{
        width: 13cm;
        margin:2px auto;
        padding: 0 2px ;
    }
}