.main_Rec {
    width: 19cm;
    height: 8.5cm;
    margin: 0 auto;
    padding: 0 3px;
    
    
}

.containerReceipt_Rec {
    width: 100%;
    height: 8.5cm;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
}

.hade_Rec {
    width: 100%;
    height: 55px;
    padding-top: 5px;
    display: flex;
}

.divLogo_Rec {
    width: 30%;
    padding: 10px 25px 0 0;
}

.iLogo_Rec {
    font-size: 2.1rem;
}

.divTitle_Rec {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_Rec {
    font-size: 0.9rem;
    font-weight: 600;
}

.nameBeton_Rec {
    margin-top: 3px;
    font-size: 14px;
}

.divId_Rec {
    width: 30%;
    text-align: left;
    padding-left: 10px;
}

.divId_Rec div {
    padding: 20px 15px 0 0;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.divId_Rec .label {
    width: 52px;
    padding-right: 40px;
    text-align: right;
}

.divId_Rec .value {
    flex-grow: 1;
    text-align: center;
}

.container_Rec {
    width: 100%;
   height: 135px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.divRow_Rec {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
}

.divCol1Row1_Rec,
.divCol2Row1_Rec,
.divCol3Row1_Rec,
.divCol1Row2_Rec,
.divCol2Row2_Rec,
.divCol1Row3_Rec,
.divCol2Row3_Rec,
.divCol3Row3_Rec {
    height: 27px;
    display: flex;
    align-items: center;
    position: relative;
}

.divCol1Row1_Rec {
    width: 49%;
    padding: 0 10px 0 0;
}

.divCol2Row1_Rec {
    width: 18%;
    padding: 0 5px 0 0;
}

.divCol3Row1_Rec {
    width: 33%;
    padding: 0 10px 0 5px;
}

.labelRow1_Rec,
.label_Rec {
    display: block;
    font-size: 14px;
    white-space: nowrap;
}

.divValuePrice_Rec {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -2px;
    padding: 0 4px 0 2px;
}

.numberPrice_Rec {
    font-size: 14px;
    position: relative;
    text-align: center;
    border-bottom: 1px dotted #000;
}

.numberPrice_Rec::after {
    content: "تومان";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    padding-left: 30px;
}

.letterPrice_Rec {
    font-size: 10px;
    text-align: center;
}

.valueRow1_Rec,
.valueRow2_Rec {
    padding-right: 2px;
    flex-grow: 1;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.divCol1Row2_Rec {
    flex-grow: 1;
    padding-right: 10px;
}

.divCol2Row2_Rec {
    width: 33%;
    white-space: nowrap;
}

.valueRow2_Rec {
    text-align: right;
    padding-right: 6px;
}

.divCol1Row3_Rec{
    width: 40%;
    padding-right: 10px;
}

.divCol2Row3_Rec{
    width: 35%;
}

.divCol3Row3_Rec{
    width: 25%;
}

.value_Rec{
    flex-grow: 1;
    padding-right: 6px;
    font-size: 12px;
}

.labelHB {
    font-size: 12px;
    font-weight: 600;
}

.subLabelHB {
    font-size: 10px;
}

.fW600 {
    font-weight: 600;
}

.description_Rec {
    width: 100%;
    height: 59px;
    padding: 2px 10px 0 3px;
    font-size: 12px;
    overflow: hidden;
}

.footer_Rec {
    width: 100%;
    height: 75px;
    padding-top: 3px;
    border-top: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.divRow1Footer_Rec {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.divRow1Footer_Rec .sign {
    font-size: 12px;
    font-weight: 600;
}

.divRow2Footer_Rec {
    width: 100%;
    padding: 0 10px 4px 0;
    /* margin: 6px 10px 2px; */
    display: flex;
}

.divRow2Footer_Rec .labelF {
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
}

.divRow2Footer_Rec .valueF {
    font-size: 13px;
}

.divTel_Rec{
    padding-right: 10px;
}

.textarea-output {
    white-space: pre-line;
}


@media print {
    @page {
        margin: 0;
        /* حذف حاشیه‌ها */
    }

    .main_Rec {
        width: 19cm;
        height: 9.2cm;
        margin: 0.4cm auto .2cm;
        padding: 0 2px;
        border-bottom: 1px dotted #000;
    }
}