.containerSearch_Se {
    width: 100%;
    padding: 0 5px;
    margin: 0 0 6px 0;
    display: flex;
}

.containerDate_Se {
    width: fit-content;
    margin: 2px;
    display: flex;
    flex-direction: column;
}

.startDate_Se,
.endtDate_Se {
    margin: 1px 0 1px 0;
    display: flex;
}

.stringFromDate_Se,
.stringUntilDate_Se {
    padding-left: 4px;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
}

/* .stringUntilDate_Se {} */

.inputDate_Se {
    border: 1px solid #8f8f9d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dayDate_Se {
    width: 40px;
    border-left: none;
    border-radius: 0 3px 3px 0;
}

.slashDate_Se {
    border: 1px solid #8f8f9d;
    border-right: none;
    border-left: none;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.monthDate_Se {
    width: 50px;
    border-right: none;
    border-left: none;
}

.yearDate_Se {
    width: 50px;
    border-right: none;
    border-radius: 3px 0 0 3px;
}

.containerCustAConc_Se,
.containerMixADri_Se,
.containerIdAType_Se,
.containerName_Se,
.containerMainNumberplate_Se {
    width: fit-content;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
}

.customer_Se,
.concrete_Se,
.mixer_Se,
.driver_Se,
.id_Se,
.type_Se,
.name_Se,
.lastName_Se {
    display: flex;
    margin-top: 2px;
}

.stringCustAConc_Se,
.stringMixADri_Se,
.stringIdAType_Se,
.stringName_Se,
.stringOwner_Se,
.stringNumberplate_Se {
    width: 50px;
    padding-left: 5px;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
}

.stringIdAType_Se,
.stringName_Se {
    width: 75px;
}

.stringIdATypeTruck_Se,
.stringIdDriver_Se {
    width: 50px;
}

.stringOwner_Se {
    width: 58px;
}

.stringNumberplate_Se {
    width: 35px;
}

.inputIdACS_Se {
    width: 120px;
    text-align: left;
    padding: 0 4px;
}

.type_Se {
    position: relative;

}

.truckType_Se {
    width: 195px;
}

.truckType_Se .mainSZ,
.inputIdTruckATS_Se {
    width: 140px;
}

.divItemTruckType_Se {
    padding: 4px 6px;
}

.titleTypeACS_Se {
    width: 120px;
    padding: 0 4px;
    border: 1px solid #8f8f9d;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.spanTitleType_Se {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    flex-grow: 1;
}

.showTypeACS_Se {
    width: max-content;
    position: absolute;
    background-color: #fdfdfd;
    top: 27px;
    right: 75px;
    border: 1px solid;
}

.inputNameACS_Se {
    width: 150px;
    padding: 0 3px;
}

/* .stringCustomer_Se {} */

/* .inputCustAConc_Se,
.inputMixADri_Se {} */

/* .inputCustomer_Se {} */

/* .concrete_Se {} */

/* .stringConcrete_Se {} */

/* .inputConcrete_Se {} */

.divSearch_Se {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.firstElementSearch_Se {
    /* width: inherit; */
    height: 30px;
}

/* .divBtnSearch_Se {} */

.btnSearch,
.btnDelSearch {
    width: 100px;
    padding: 5px 6px;
    margin: 1px;
    background-color: #3b3baa !important;
    color: #fff;
    border: 1px solid #26269a !important;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

/* .sritngSearch_Se {} */

/* .icofontSearch_Se {} */

/* .divBtnDelSearch_Se{} */

.btnDelSearch {
    background-color: #d74939 !important;
    border: 1px solid #ff0000 !important;
}

/* .sritngDelSearch_Se{} */

/* .icofontDelSearch_Se{} */


.divSelectSearch_Se {
    width: 170px;
}

.divSelectSearch_Se .mainSZ {
    width: inherit;
}

/* .containerOption_Se{} */

.containerOptionDriver_Se {
    padding: 3px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainNumberplate_Se {
    width: 150px;
    position: relative;
}

.containerInputNumberplate_Se {
    display: flex;
    flex-direction: row-reverse;
}

.iconNumberplate_Se {
    width: min-content;
    display: flex;
    align-items: center;
    background-color: #e8e8eb;
    border: 1px solid #8f8f9d;
    border-right: none;
    border-radius: 2px 0 0 2px;
}

.leftInputNumberplate_Se,
.rightInputNumberplate_Se,
.midInputNumberplate_Se {
    text-align: center;
}

.leftInputNumberplate_Se,
.rightInputNumberplate_Se {
    width: 26px;
}

.selectNumberplate_Se {
    width: 55px;
    text-align: center;
}



.midInputNumberplate_Se {
    width: 44px;
}

.divIranNumberplate_Se {
    width: fit-content;
    height: 32px;
    display: flex;
    flex-direction: column;
}

.iranNumberplate_Se {
    height: 10px;
    padding: 0;
    font-size: 0.5rem;
    text-align: center;
    border: 1px solid #8f8f9d;
    border-bottom: none;
    border-radius: 2px 2px 0 0;
    z-index: 2;
}

.rightInputNumberplate_Se {
    height: 22px;
    border: 1px solid #8f8f9d;
    border-top: none;
    z-index: 1;
}

/* .containerRowNumberplate_Se{
    width: 100%;
    max-height: 250px;
    padding: 1px 3px;
    border: 1px solid #757584;
    background-color: #fff;
    position: absolute;
    top: 35px;
    overflow: auto;
} */

.nameDriver_Se {
    font-size: 0.8rem;
}

.ftherDriver_Se {
    font-size: 0.6rem;
}

.containerOptionMixer_Se {
    padding: 2px 3px 0;
}

.containerOptionMixer_Se .mixerNamberpalteSelectFB .numberplateDiv {
    width: 100%;
    height: 20px;
    /* display: inline-block; */
    font-size: 0.9rem;
}

.containerOptionMixer_Se:hover .mixerNamberpalteSelectFB .numberplateDiv {
    color: #000;
}

.divOwnerMixer_Se {
    width: 100%;
    display: inline-block;
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #56585c;

}

.containerOptionMixer_Se:hover .divOwnerMixer_Se {
    color: #fff;
}

.notResultSearch_Se {
    width: 90%;
    margin: 18px 5%;
    padding: 20px;
    text-align: center;
    color: #ff0000;
    background-color: #eab0b0;
    border: 1px solid #af5e5e;
    border-radius: 4px;
}

/** 
    ########## AddConcreteSalesInvoiceSearch ##########
*/

.mainConcreteSIS_Se {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 2px 10px;
    border: 1px solid #546b8e;
    border-radius: 3px;
    position: relative;

}

.searchBtnsCoSIS_Se {
    position: absolute;
    margin: -37px 10px 0 0;
    padding: 0 6px;
    display: flex;
    align-items: center;
    background-color: #dce4ee;
    border: 1px solid #5382bd;
    border-radius: 3px;
}

.showSearchBtnCoSIS_Se {

    color: #407d3d;
}

.closeSearchBtnCoSIS_Se {
    color: #c71b1b;
}

.eyeCoSIS_Se,
.eyeBlockedCoSIS_Se {
    font-size: 1.3rem;
    margin-right: 4px;
}

.eyeCoSIS_Se {}

.eyeBlockedCoSIS_Se {}

.containerConcreteSIS_Se {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.secondRowCocreteSIS_Se,
.firstRowConcreteSIS_Se {
    width: 100%;
    display: flex;
}

.firstRowConcreteSIS_Se {}

.secondRowCocreteSIS_Se {
    margin-top: 30px;
}

.columnConcreteSIS_Se {
    width: 28%;
    margin-left: 0.7%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.column1ConcreteSIS_Se {

    
}

.column2ConcreteSIS_Se {

    
}

.column4ConcreteSIS_Se {
    width: 12%;
    margin-left: 0;
}

.divInputsDateConcreteSIS_Se{
   

}

.slashDateConcreteSIS_Se{
    width: 5%;
}

.dayDateConcreteSIS_Se {
    width: 29%;
}

.monthDateConcreteSIS_Se {
    width: 29%;
}

.yearDateConcreteSIS_Se {
    width: 32%;
}

.typeConcreteSIS_Se {
    width: 100%;
    display: flex;
}

/* .stringTypeConcreteSIS_Se{
    width: 50px;
    background-color: #af5e5e;
} */

.buerConcreteSIS_Se {
    width: 100%;
    display: flex;
    
}

.stringConcreteSIS_Se {
    width: 70px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.divInputsDateConcreteSIS_Se,
.divSelectTypeConcreteSIS_Se,
.buerConcreteSIS_Se input {
    width: calc(100% - 70px);
    display: flex;
}



@media screen and (min-width:1200px) {

    .containerCustAConc_Se,
    .containerMixADri_Se,
    .containerIdAType_Se,
    .containerName_Se,
    .containerMainNumberplate_Se {
        margin-right: 20px;
    }

    .containerOwner_Se {
        margin-right: 10px;
    }



    .stringIdATypeTruck_Se,
    .stringOwner_Se,
    .stringIdDriver_Se {
        width: 28.7%;
    }

    .truckType_Se {
        width: 250px;
    }

    .stringFromDate_Se,
    .stringUntilDate_Se,
    .stringCustAConc_Se,
    .stringMixADri_Se,
    .stringIdAType_Se,
    .stringName_Se,
    .stringNumberplate_Se,
    .stringOwner_Se {
        font-size: 0.9rem;
    }


    .inputIdACS_Se,
    .titleTypeACS_Se,
    .inputNameACS_Se,
    .showTypeACS_Se {
        width: 180px;
    }

    .inputIdTruckATS_Se,
    .truckType_Se .mainSZ,
    .mainNumberplate_Se {
        width: 170px;
    }

    .inputNameACS_Se {
        padding: 0 8px;
    }

    .leftInputNumberplate_Se,
    .rightInputNumberplate_Se {
        width: 35px;
    }

    .selectNumberplate_Se {
        width: 56px;
    }


    .midInputNumberplate_Se {
        width: 53px;
    }

    .btnSearch,
    .btnDelSearch {
        width: 125px;
        padding: 2px 6px;
        font-size: 1rem;
    }

    .stringConcreteSIS_Se {
        width: 90px;
    }
    
    .divSelectTypeConcreteSIS_Se,
    .buerConcreteSIS_Se input {
        width: calc(100% - 90px);
    }
}