.mainSZ {
    width: 200px;
    position: relative;
}

.titleSZ {
    width: 100%;
    height: 30px;
    padding: 0 3px 0 7px;
    border: 1px solid #8f8f9d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.labelSZ {
    max-width: calc(100% - 10px);
    flex-grow: 1;
    padding-left: 5px;
}

.iSZ {
    width: 10px;
}

/**
    ### مربوط به فایل AddConcreteSalesInvoice ###
 */

.DInputsCustomersACSI_SZ,
.DInputsMixersACSI_SZ ,
.DInputsDriversACSI_SZ {
    width: 100%;
    display: flex;
}

.D2InputsMixersACSI_SZ{
    margin-top: 3px;
}

.DIdsInputsCustomersACSI_SZ,
.DIdsInputsMixersACSI_SZ ,
.DIdsInputsDriversACSI_SZ {
    width: 35%;
    display: flex;
    background-color: #fff;
    align-items: center;
}

.DWarnCustomersACSI_SZ,
.DWarnMixersACSI_SZ ,
.DWarnDriversACSI_SZ {
    width: 100%;
    background-color: #e2bbbb;
    color: #c70707;
    padding: 5px;
    text-align: center;
}

.DIdsInputsCustomersACSI_SZ input,
.DIdsInputsMixersACSI_SZ input ,
.DIdsInputsDriversACSI_SZ input {
    width: 80%;
    padding: 0 3px;
    border: none;
    text-align: left;
}

.DIdsInputsCustomersACSI_SZ input::placeholder,
.DIdsInputsMixersACSI_SZ input::placeholder ,
.DIdsInputsDriversACSI_SZ input::placeholder {
    font-size: 0.8rem;
    text-align: right;
}

.DIdsInputsMixersACSI_SZ input::placeholder {
    font-size: 0.7rem;
}

.DIdsInputsCustomersACSI_SZ button,
.DIdsInputsMixersACSI_SZ button,
.DIdsInputsDriversACSI_SZ button {
    padding: 0 2px;
    border: none;
    color: #016401;
    background-color: #fff;
}

.DIdsInputsCustomersACSI_SZ button:hover,
.DIdsInputsMixersACSI_SZ button:hover,
.DIdsInputsDriversACSI_SZ button:hover {
    color: #0f54a9;
    background-color: #ebebf6;
    border-radius: 8px;
}


.inputCustomersACSI_SZ,
.inputMixersACSI_SZ ,
.inputDriversACSI_SZ,
.DNumberplateACSI_SZ {
    width: 65%;
    padding-right: 3px;
    border: none;
    border-right: 1px solid #646464;
}

.inputCustomersACSI_SZ::placeholder,
.inputMixersACSI_SZ::placeholder ,
.inputDriversACSI_SZ::placeholder {
    font-size: 0.8rem;
}

.DNumberplateACSI_SZ {
    padding-right: 0;
    display: flex;
    flex-direction: row-reverse;
    border-right: none;

}

.text2NumberplateACSI_SZ,
.selectChNumberplateACSI_SZ,
.text3NumberplateACSI_SZ,
.textSerialNumberplateACSI_SZ {
    text-align: center;
    padding: 0 !important;
    border: 1px solid #8f8f9d;
}

.text2NumberplateACSI_SZ {
    width: 20% !important;
    border-right: none;
    position: relative;
}

.selectChNumberplateACSI_SZ {
    width: 35% !important;
    border-left: none;
    border-right: none;
}

.text3NumberplateACSI_SZ {
    width: 25% !important;
    border-left: none;
    border-right: none;
}

.textSerialNumberplateACSI_SZ {
    width: 20% !important;
}

/** end file AddConcreteSalesInvoice */

.mainOptionSZ {
    width: 100%;
    position: absolute;
    top: 31px;
    left: 0;
    background-color: #e1e1ec;
    border: 1px solid #636363;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.divContainerInputSZ {}

.divContainerOptionSearchSZ {
    max-height: 170px;
    overflow: hidden;
    overflow-y: auto;
    border-bottom: 2px solid blue;
}

.divContainerOptionsSZ {
    max-height: 270px;
    overflow: hidden;
    overflow-y: auto;
}

.containerSearchOptionSZ:nth-child(even) {
    background-color: #d7e5e3;
}

.containerSearchOptionSZ:nth-child(odd) {
    background-color: #e8f6f4;
}

.containerSearchOptionSZ:hover {
    background-color: #4f4ffa;
    color: #fff;
}

.containerOptionSZ:nth-child(even) {
    background-color: #eae9e9;
}

.containerOptionSZ:nth-child(odd) {
    background-color: #fff;
}

.containerOptionSZ:hover {
    background-color: #4f4ffa;
    color: #fff;
}

@media screen and (min-width:1200px) {
    .mainSZ {
        width: 230px;
    }
}